@using DemoASP.Tools;
@model IEnumerable<DAL.Models.Game>
@inject SessionManager session;

@{
   ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
   if (session.ConnectedUser is not null)
   {
      <p>
         <a asp-action="Create">Create New</a>
      </p>
      <p>
         <a asp-action="ListByGenre">Trier par genre</a>
      </p>
   }
}

<table class="table">
   <thead>
      <tr>
         <th>
            @Html.DisplayNameFor(model => model.Title)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.Genres)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.Resume)
         </th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      @foreach (var item in Model)
      {
         <tr>
            <td>
               @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Genres.Label)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Resume)
            </td>
            <td>
               @if (session.ConnectedUser is not null)
                  @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) | 
                  @Html.ActionLink("Details", "Details", new { id=item.Id }) |
               @if (session.ConnectedUser is not null)
                  @Html.ActionLink("Delete", "Delete", new { id=item.Id })|
               @if (session.ConnectedUser is not null)
                  @Html.ActionLink("Add To favoris", "AddFavGame", new { id= item.Id })
            </td>
         </tr>
      }
   </tbody>
</table>
