@model IEnumerable<DAL.Models.Game>
@using DemoASP.Tools;
@inject SessionManager session;
@{
    ViewData["Title"] = "FavList";
}

<h1>Favoris</h1>

@Html.ActionLink("Back", "Index", new {  id= session.ConnectedUser.Id })

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDeSortie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDeSortie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resume)
            </td>
@*             <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
        </tr>
}
    </tbody>
</table>
